map f scrollFullPageDown
map b scrollFullPageUp
map h previousTab
map l nextTab
map d removeTab
map u restoreTab
map ;o LinkHints.activate
map ;t LinkHints.activateOpenInNewTab
map ;f LinkHints.activateOpenInNewForegroundTab
map ;u Vomnibar.activateHistory
map ;b Vomnibar.activateTabs
map ;l visitPreviousTab
